.green {
    background-color: green;
    margin-right: 350px;
    text-align: center;
    color: white;
}

.yellow {
    background-color: rgb(221, 221, 99);
    margin-right: 350px;
    text-align: center;
    color: white;
}

.red {
    background-color: rgb(199, 27, 27);
    margin-right: 350px;
    text-align: center;
    color: white;
}