.green {
    background-color: green;
    margin-right: 350px;
    width: 55px;
    text-align: center;
    color: white;
    margin:auto;
}

.yellow {
    background-color: rgb(221, 221, 99);
    margin-right: 350px;
    text-align: center;
    color: white;
    width: 55px;
    margin:auto;
}

.red {
    background-color: rgb(199, 27, 27);
    margin-right: 350px;
    text-align: center;
    color: white;
    margin:auto;
    width: 55px;
}